.item {
  box-sizing: border-box;
  height: 200px;
  transform-origin: center right;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 360px;
}

.item-content {
  backface-visibility: hidden;
  border: 1px solid #cbcfd3;
  border-radius: 4px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding: 30px 30px 10px;
  position: absolute;
  width: 100%;
}

.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.close {
  border-radius: 4px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
}

.close:hover {
  background-color: #ededed;
}

.close:before,
.close:after {
  background-color: #999;
  bottom: 5px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
  width: 2px;
}

.close:after {
  transform: rotate(-45deg);
}

.name {
  color: #74a3c7;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.description {
  max-height: 128px;
  overflow: auto;
}

.item_front {
  align-items: center;
  display: flex;
  justify-content: center;
}

.item_back {
  transform: rotateY(180deg);
}

.item_back .name {
  font-size: 13px;
  margin: -20px 0 10px -20px;
  text-align: left;
}

.item_front,
.item_back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
