:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  cursor: pointer;
}

.flip-cards-button {
  width: 300px;
  padding: 5px 10px;
  background-color: #ffdd2d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 30px;

  &:hover {
    opacity: .8;
  }
}
